<!DOCTYPE html>
<html>

<head>
  <title>attestfor.me</title>
  <link rel="stylesheet" href="{{ url_for('.static', filename='index.css') }}">
</head>

<body>
  <form class="login-container" method="post" action="/login" id="login-form">
    <h3>Welcome to attestfor.me!</h3>
    <p>
      Log in with your kerb, accept the duo push, and have your attestation done for you every day at 4am±1hr
      automagically!
    </p>
    <input id="login-form-kerb" type="text" placeholder="Enter kerb" name="username" required />
    <input type="password" placeholder="Enter password" name="password" required />
    <input id="login-form-submit" type="submit" value="Submit">
    <p id="seen-kerb-warning">You've already used attestfor.me with this kerb, use again at own risk!</p>
  </form>
  <script>
    const seenKerbs = JSON.parse(localStorage.getItem('seenKerbs')) || [];
    document.getElementById('login-form-kerb').addEventListener('input', (event) => {
      const { value } = event.target;
      const visibility = seenKerbs.includes(value) ? 'visible' : 'hidden';
      document.getElementById('seen-kerb-warning').style.visibility = visibility;
    });

    document.getElementById('login-form').addEventListener('submit', () => {
      const submit = document.getElementById('login-form-submit');
      submit.disabled = true;
      submit.value = 'Logging you in...';
    });
  </script>
</body>

</html>