<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>attestfor.me</title>
  <link rel="stylesheet" href="{{ url_for('.static', filename='index.css') }}">
</head>

<body>
  <form class="container" method="post" action="/login" id="login-form">
    <h3>Welcome to attestfor.me!</h3>
    <p>
      Log in with your kerb, accept the duo push, and have your attestation done for you every day at 4am±1hr
      automagically!
    </p>
    {% if error: %}
    <p id="login-error">{{ error }}</p>
    {% endif %}
    <input id="login-form-kerb" type="text" placeholder="Enter kerb without @mit.edu" name="username" required />
    <input type="password" placeholder="Enter password" name="password" required autocapitalize="off" autofocus />
    <input id="login-form-submit" type="submit" value="Login" />
  </form>
  <form class="container" method="post" action="/remove" id="remove-form">
    <h3>Want to stop automagic attests?</h3>
    <input id="remove-form-kerb" type="text" placeholder="Enter kerb without @mit.edu" name="username" required />
    <input id="remove-form-submit" type="submit" value="Remove Me" />
  </form>
  <form class="container" method="post" action="/comment" id="comment-form">
    <h3>Any comments?</h3>
    <textarea id="comment-form-comment" type="text" placeholder="Send me your comments!" name="comment"
      required></textarea>
    <input id="comment-form-submit" type="submit" value="Submit" />
  </form>
  <div class="container">
    <h3>FAQ</h3>
    <h4>What password do I use?</h4>
    <p>The password is the one associated with your kerb (sorry we don't support certificates 😞)</p>
    <h4>What if I use Duo phone calls/texts?</h4>
    <p>We don't support those Duo options (yet) but stayed tuned depending on demand...</p>
    <h4>What happens to my kerb/password?</h4>
    <p>
      attestfor.me saves a (practically irreversible and unrecognizable) SHA256 hash of your kerb. It also necessarily
      stores an OAuth refresh token associated with you for it to work.
    </p>
  </div>
  <script>
    const loginSubmit = document.getElementById('login-form-submit');
    const removeSubmit = document.getElementById('remove-form-submit');

    document.getElementById('login-form').addEventListener('submit', () => {
      loginSubmit.disabled = true;
      loginSubmit.value = 'Logging you in...';
    });

    document.getElementById('remove-form').addEventListener('submit', () => {
      removeSubmit.disabled = true;
      removeSubmit.value = 'Removing you...';
    });

    window.addEventListener('hashchange', (event) => {
      loginSubmit.disabled = false;
      loginSubmit.value = 'Login';
      removeSubmit.disabled = false;
      removeSubmit.value = 'Remove Me';
    });

    const textarea = document.getElementById('comment-form-comment');
    textarea.style = `height: ${textarea.scrollHeight}px; overflow-y: hidden;`;
    textarea.addEventListener('input', function () {
      this.style.height = 'auto';
      this.style.height = `${this.scrollHeight}px`;
    });
  </script>
</body>

</html>