<!DOCTYPE html>
<html>

<head>
  <title>😃 @ attestfor.me</title>
  <link rel="stylesheet" href="{{ url_for('.static', filename='status.css') }}">
</head>

<body>
  <h3>Success!</h3>
  <p>
    As a check, you should see an attestation submitted email in ~5 minutes. Then they should start
    rolling in at around 4am everyday. If not let me know at
    <a href="mailto:andyli@mit.edu">andyli@mit.edu</a>
  </p>
  <script>
    const seenKerbs = JSON.parse(localStorage.getItem('seenKerbs')) || [];
    const kerb = '{{ username }}';
    localStorage.setItem('seenKerbs', JSON.stringify([...seenKerbs, kerb]));
  </script>
</body>

</html>